.upload, #download {
    font-family: 'Times New Roman',Times,serif;
    font-size: 16px;
    background-color: #9999ff;
    border-style: none;
}

#download {
    position: absolute;
    top: 15px;
    left: 280px;
}

#image {
/*    position: fixed;
    top: 50px;
    left: 100px;*/
    top: 27px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: -2;
}

#message_box {
    z-index: 3;
    background-color:#ffff99;
    font-family: 'Times New Roman',Times,serif;
    font-size: 16px;
    position: fixed;
    visibility: visible;
    left: 400px;
    bottom: 10px;
    height: 50px;

}

#glow, #sharpen, #clear, #blur  {
    font-family: 'Times New Roman',Times,serif;
    font-size: 16px;
    background-color: #9999ff;
    border-style: none;
    position: fixed;
    z-index: 2;
    width: 60px;
}

#glow {
    bottom: 25px;
    left: 40px;
}

#blur {
    bottom: 25px;
    left: 120px;
}

#sharpen {
    bottom: 25px;
    left: 200px;
}

#clear {
    bottom: 25px;
    right: 40px;
}

.border_top {
    width: 98%; height: 50px;
    background-color: #bfbebe;
    position: absolute;
    top: 10px;
    left: 10px;
}

.border_bottom {
    width: 98%; height: 50px;
    background-color: #bfbebe;
    position: fixed;
    bottom: 10px;
    left: 10px;
} 

/* Styles for upload button */
.upload_textbox
{
    position: relative;
    float: left;
    top: 15px;
    left: 30px;
}

.upload_div
{
    position: relative;
    width: 100px;
    height: 23px;
    overflow: hidden;
    top: 15px;
    left: 30px;
}

.upload_hidden
{
    font-size: 23px;
    position: absolute;
    right: 0px;
    top: 0px;
    opacity: 0;

    filter: alpha(opacity=0); 
    -ms-filter: "alpha(opacity=0)"; 
    -khtml-opacity: 0; 
    -moz-opacity: 0;

}


